.review-item{
    width: 571px;
    height: 107px;
    border: 1px solid #95A0A7;
    border-radius: 8px;
    margin: 25px;
    padding: 8px;
    display: flex;
}
.review-item .product-title{
    font-weight: 400px;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: 0.0015cm;
}
.review-item img{
    width: 91px;
    height: 91px;
}